.notification {
    background-color: $bg;
    color: $fg;
    border-radius: 30px;

    font-family: $font;
    font-size: 1.25rem;
}

.bar-container {
    padding: 30px 25px;
}

.notification-header {
    padding: 0 5px;

    & > label {
        font-size: 1.4rem;
        color: $blue;
    }

    .notification-clear {
        @include custom_button($bg-alt2);
    }
}

.notification-card-header-box {
    background-color: $blue;
    color: $bg;
    border-radius: 10px 10px 0 0;
    padding: 8px 15px;
    font-size: 1.05rem;
    font-weight: 500;

    button {
        color: $bg;
        background-color: $red;
        border-radius: 50%;
        font-size: 1rem;
        box-shadow: 0 0 3px -2px black;

        transition-duration: 0.2s;
        transition-property: background-color;

        &:hover {
            background-color: rgba($red, 0.7);
        }
    }
}

.notification-card-box {
    background-color: $bg-alt;
    padding: 12px;
    border-radius: 0 0 10px 10px;
}

.notification-summary {
    font-weight: bold;
    font-size: 1.1rem;
}

.notification-body {
    font-size: 1.05rem;
}

.notification-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}

.actions-box {
    .actions-btn {
        border-radius: 10px;
        padding: 10px;
        font-size: 2.5rem;
        background-color: $bg-alt2;
        padding-right: 25px;
        @include hover_button($bg-alt);
    }
    .actions-btn-active {
        background-color: $blue;
        @include hover_button($blue);
    }
}

// Some nerd font icons are not centered horizontally
.actions-bluetooth {
    &.actions-btn-active {
        padding-right: 14px;
    }
    &:not(.actions-btn-active) {
        padding-right: 18px;
    }
}

.actions-btn-active.actions-dnd {
    background-color: $red;
    @include hover_button($red);
}

.mail-count {
    background-color: rgba(black, 0.12);
    color: $bg;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 8px;
    font-size: 1.4rem;
    font-family: "Fira Sans";
    font-weight: normal;
}

.gmail {
    @include custom_button(white);
    color: red;
    font-size: 3rem;
    padding: 15px;
}

.navermail {
    @include custom_button(#2db400);
    color: white;
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: 900;
    padding: 15px;
}

.mail-refresh {
    @include custom_button($bg-alt2);
    margin: 0 10px;
    padding: 10px;
    font-size: 2rem;
}
